.index-module__no-btn-style___1w0Jn, .index-module__btn___rIoDY, .index-module__overlayBtn___2Jm6k {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none; }

.index-module__links___2B0jW, .index-module__title____kuSF, .index-module__foot___1wzgO {
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 0.5rem;
  text-align: center;
  color: #ffffff; }

.index-module__links___2B0jW a, .index-module__title____kuSF a, .index-module__foot___1wzgO a {
  color: #aaa;
  text-align: center;
  letter-spacing: 0.5rem;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.index-module__links___2B0jW a:hover, .index-module__title____kuSF a:hover, .index-module__foot___1wzgO a:hover {
  color: #ccc; }

.index-module__title____kuSF {
  top: 12px; }

.index-module__foot___1wzgO {
  bottom: 12px; }

.index-module__overlay___1Tmco {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0%;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 3;
  left: 0;
  top: 0;
  background-color: black;
  /* Black fallback color */
  background-color: rgba(20, 20, 20, 0.95);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  -webkit-transition: 0.5s;
  /*text-align: center;*/ }

.index-module__overlay___1Tmco p {
  text-align: center;
  font-family: monospace;
  font-size: 3.5rem;
  margin: 10rem 7rem;
  color: #ffffff; }

.index-module__btn___rIoDY {
  position: relative;
  padding-left: 3px;
  top: 2px; }
  .index-module__btn___rIoDY img {
    width: 12px; }
